@import "../../styles/variables.scss";

.button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    transition: background .25s;
    color: white;
    border-radius: 29px;
    font-style: normal;
    font-weight: 400;
    transition: all .25s ease-in-out;
}

.small {
    font-size: 16px;
    padding: 10px 25px;
}

.big {
    font-size: 15px;
    text-transform: uppercase;
    padding: 20px 60px;
    box-shadow: 0 10px 40px 0 rgba(122, 129, 190, .36);
}

.accent {
    background: $primary-hover-color;
    
    &:hover {
        background: $primary-color;
    }
}