@import "../../styles/variables.scss";

.search-wrapper {
    position: relative;

    .icon {
        position: absolute;
        left: 17px;
        top: 17px;
    }
    
    .input {
        background-color:#f3f3f3;
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        border: 1px solid #b7b7b7;
        box-shadow: 1px 0px 10px 2px rgba(88, 82, 82, 0.5);
        border-radius: 10px;
        padding: 16px 30px 16px 44px;
        min-width: 215px;

        &:active,
        &:focus {
            outline: 0;
            outline-offset: 0;
        }

        &::placeholder {
            color: #c4c4c4;
        }
    }
}
